.container{
    width: 800px;
    height: 600px;
    margin: auto;
    background-color: cornsilk;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: flex-end; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
}
.box{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 15px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
